n8n/scene-generator (1).json
{
  "name": "scene-generator",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ JSON.stringify($json.payload) }}",
        "messages": {
          "messageValues": [
            {
              "message": "You are a visual scene prompt writer for short-form viral video.  ## INPUT You receive JSON with: - script: the full spoken transcript - style: visual style keyword (e.g., \"cinematic\", \"abstract\", \"photorealistic\") - segments: array of pre-timed speech segments, each with index + words  ## STEP 1: ANALYZE Read the full script FIRST. Determine: - mood: emotional arc (e.g., \"whimsical tension\", \"melancholic beauty\", \"raw defiance\") - environment: the physical setting implied by the text - color_palette: 3-5 dominant colors that match the mood - tone: comedic, dramatic, mysterious, nostalgic, unsettling, etc. - visual_style: combine the input style with your analysis (e.g., \"cinematic photorealistic with cool industrial tones\")  Return this as the \"analysis\" object. ALL scene prompts must stay visually consistent with this analysis.  ## STEP 2: WRITE SCENES For EACH segment, write a scene that illustrates its meaning within the visual world from your analysis.  Each scene object keys: - segment_index: integer (match the input index exactly) - title: string (2-6 words) - narrative_role: \"hook\" \n \"buildup\" \n \"peak\" \n \"transition\" \n \"text_accent\" \n \"cta\" - type_of_scene: \"image\" \n \"video\" \n \"text\" - image_prompt: string (still image prompt — for text scenes this is the background) - motion_in_image: string or null (null for text scenes) - text_content: string or null (only for text scenes, 3-8 words, uppercase)  ## OUTPUT Return ONLY valid JSON. No markdown. No code fences. No commentary. ENGLISH ONLY.  {   \"analysis\": { \"mood\", \"environment\", \"color_palette\", \"tone\", \"visual_style\" },   \"scenes\": [ ... ] }  ## NARRATIVE ROLES - hook: FIRST segment. Most arresting scroll-stopping visual. NOT a generic establishing shot. - buildup: Rising tension, context, world-building. - peak: Most visually intense or emotionally charged moment. - transition: Breather. Environmental, atmospheric. - text_accent: Text overlay for punchlines, reveals, key phrases. - cta: LAST segment. Cliffhanger, question, or emotional resolution.  ## TYPE MIX - 50-65% video, 20-35% image, 10-25% text - Minimum 2 text scenes for 8+ segments - The most emotionally impactful line should be a text scene - First and last segments should NOT be text scenes  ## IMAGE_PROMPT RULES — FROZEN STILL IMAGE  One photograph. One instant. Must pass: \"Can I take one photograph of exactly this?\"  FORMAT: [shot type], [subject + details], [setting + time], [lighting], [mood], [style]  SHOT TYPES: extreme-close-up \n close-up \n medium \n wide \n POV \n bird's-eye \n low-angle \n high-angle \n over-shoulder \n centered-symmetrical  STYLE KEYWORDS (pick 2-4, must align with analysis.visual_style): cinematic \n photorealistic \n shallow-depth-of-field \n film-grain \n 8K \n tilt-shift \n bokeh \n high-contrast \n desaturated \n painterly-texture  RULES: - NEVER use motion verbs (dolly/pan/zoom/drift/sway/fly/fall/shift/flow/rustle/climb) - NEVER use time-based concepts (time-lapse/transition/morphing/changing/sequence) - NEVER mention aspect ratio or resolution dimensions - No two consecutive scenes may use the same shot type - All prompts must share the same environment and color palette from your analysis - For text scenes: image_prompt = simple/blurred/abstract background from the scene's environment  ## MOTION_IN_IMAGE RULES — WHAT MOVES IN THE FRAME  Subject/element motion to animate the still. NOT camera movement. 1-2 sentences max.  VOCABULARY: leaves rustling \n petals drifting \n dust floating \n light rays flickering \n smoke curling \n fabric billowing \n dew drop sliding \n insects buzzing \n heat haze \n paper fluttering \n machinery humming \n eyes blinking \n fingers tapping \n steam rising \n sparks drifting  Be specific: \"a single envelope slides along the conveyor belt\" not \"things moving\" Must describe a SINGLE continuous motion, not a sequence. For text scenes: motion_in_image = null  ## TEXT SCENES - image_prompt: blurred/abstract background from the scene's environment - motion_in_image: null - text_content: exact on-screen text (3-8 words, impactful, uppercase) - Pick the line that hits hardest emotionally or creates the biggest twist  ## VISUAL CONSISTENCY Every scene must feel like it belongs in the SAME video: - Same environment (don't jump between locations unless the script does) - Same lighting temperature (don't mix warm golden and cool blue randomly) - Same style keywords across all prompts - Characters/objects introduced early should be recognizable later - Color palette from analysis must be reflected in every prompt  ## EXAMPLE OUTPUT {   \"analysis\": {     \"mood\": \"whimsical, quietly unsettling, dry humor\",     \"environment\": \"sterile industrial mail sorting facility with conveyor belts and metal shelving\",     \"color_palette\": \"cool steel gray, fluorescent white, warm envelope cream, muted teal accents\",     \"tone\": \"comedic tension building to unease\",     \"visual_style\": \"cinematic photorealistic with cold industrial lighting and warm paper textures\"   },   \"scenes\": [     {       \"segment_index\": 0,       \"title\": \"Designed To Sort Mail\",       \"narrative_role\": \"hook\",       \"type_of_scene\": \"video\",       \"image_prompt\": \"medium shot, robotic sorting arm hovering frozen above a conveyor belt overflowing with scattered envelopes and parcels, sterile industrial mail facility with metal shelving, harsh overhead fluorescent lighting casting sharp shadows on steel surfaces, mechanical precision and cold efficiency, cinematic photorealistic shallow-depth-of-field film-grain\",       \"motion_in_image\": \"the robotic arm twitches slightly, a single envelope slides along the belt edge, fluorescent light flickers overhead\",       \"text_content\": null     },     {       \"segment_index\": 3,       \"title\": \"Fondness For Poetry\",       \"narrative_role\": \"text_accent\",       \"type_of_scene\": \"text\",       \"image_prompt\": \"soft blurred background of scattered cream envelopes on steel surface under cool fluorescent light, warm paper tones against cold metal, high-contrast, cinematic photorealistic bokeh\",       \"motion_in_image\": null,       \"text_content\": \"A FONDNESS FOR POETRY\"     }   ] }"
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        1440,
        432
      ],
      "id": "7317b008-7bf8-4779-9e81-b695b1fb4ecc",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "model": "google/gemini-2.5-flash",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        1520,
        656
      ],
      "id": "38f04ec9-bdf7-4e52-a602-7960a4fa4e3f",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "mbWrJSQdMKz6Ve5M",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "scene-generator",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        768,
        688
      ],
      "id": "d34015e2-f527-4da9-ab60-ab12351b7a91",
      "name": "Webhook",
      "webhookId": "6ea28ba0-5b8c-43ee-8843-59542f0ac4b5"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "d20fea18-1a23-49da-a623-2189b4ea7d4b",
              "leftValue": "={{ $json.valid }}",
              "rightValue": false,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1216,
        688
      ],
      "id": "620e6814-7397-4317-8074-d75a5d5629ae",
      "name": "If"
    },
    {
      "parameters": {
        "jsCode": "// n8n Code Node: Validate Scene Generator Input\n// Place right after the Webhook node\n\nconst input = $input.first().json.body;\nconst errors = [];\nconst warnings = [];\n\n// ──────────────────────────────────────\n// 1. REQUIRED KEYS\n// ──────────────────────────────────────\nif (!input.script || typeof input.script !== 'string') {\n  errors.push('Missing or invalid \"script\": must be a non-empty string');\n}\n\nif (!input.segments || !Array.isArray(input.segments)) {\n  errors.push('Missing or invalid \"segments\": must be an array');\n}\n\nif (!input.style || typeof input.style !== 'string') {\n  warnings.push('Missing \"style\": will default to \"cinematic photorealistic\"');\n}\n\n// ──────────────────────────────────────\n// 2. SCRIPT VALIDATION\n// ──────────────────────────────────────\nif (input.script) {\n  const wordCount = input.script.split(/\\s+/).length;\n\n  if (wordCount < 10) {\n    errors.push(`Script too short: ${wordCount} words (min 10)`);\n  }\n\n  if (wordCount > 500) {\n    warnings.push(`Script is long: ${wordCount} words — LLM output may be truncated`);\n  }\n}\n\n// ──────────────────────────────────────\n// 3. SEGMENTS VALIDATION\n// ──────────────────────────────────────\nif (Array.isArray(input.segments)) {\n  if (input.segments.length === 0) {\n    errors.push('Segments array is empty');\n  }\n\n  if (input.segments.length < 3) {\n    warnings.push(`Only ${input.segments.length} segments — may produce thin scene plan`);\n  }\n\n  if (input.segments.length > 25) {\n    warnings.push(`${input.segments.length} segments — LLM may struggle with this many`);\n  }\n\n  const seenIndexes = new Set();\n\n  input.segments.forEach((seg, i) => {\n    // Index exists and is integer\n    if (seg.index === undefined || typeof seg.index !== 'number') {\n      errors.push(`Segment ${i}: missing or invalid \"index\"`);\n    }\n\n    // Duplicate index check\n    if (seenIndexes.has(seg.index)) {\n      errors.push(`Segment ${i}: duplicate index ${seg.index}`);\n    }\n    seenIndexes.add(seg.index);\n\n    // Words exists and is string\n    if (!seg.words || typeof seg.words !== 'string') {\n      errors.push(`Segment ${i} (index ${seg.index}): missing or invalid \"words\"`);\n    }\n\n    // Words not empty\n    if (seg.words && seg.words.trim().length === 0) {\n      errors.push(`Segment ${i} (index ${seg.index}): \"words\" is empty`);\n    }\n  });\n\n  // Check chronological index order\n  for (let i = 1; i < input.segments.length; i++) {\n    if (input.segments[i].index <= input.segments[i - 1].index) {\n      errors.push(`Segments not in order: index ${input.segments[i].index} after ${input.segments[i - 1].index}`);\n    }\n  }\n}\n\n// ──────────────────────────────────────\n// 4. OPTIONAL FIELDS CHECK\n// ──────────────────────────────────────\nconst VALID_STYLES = [\n  'cinematic', 'cinematic photorealistic', 'abstract',\n  'painterly', 'anime', 'watercolor', 'noir',\n  'retro', 'minimalist', 'surreal'\n];\n\nif (input.style && !VALID_STYLES.some(s => input.style.toLowerCase().includes(s))) {\n  warnings.push(`Style \"${input.style}\" not in known presets — LLM will interpret freely`);\n}\n\nif (input.aspect_ratio) {\n  const validRatios = ['9:16', '16:9', '1:1', '4:5'];\n  if (!validRatios.includes(input.aspect_ratio)) {\n    warnings.push(`Aspect ratio \"${input.aspect_ratio}\" not standard`);\n  }\n}\n\n// ──────────────────────────────────────\n// 5. BUILD CLEAN PAYLOAD\n// ──────────────────────────────────────\nconst valid = errors.length === 0;\n\nif (!valid) {\n  return {\n    json: {\n      valid: false,\n      errors,\n      warnings\n    }\n  };\n}\n\n// Clean payload — only what the LLM needs\nconst cleanPayload = {\n  script: input.script.trim(),\n  style: (input.style || 'cinematic photorealistic').trim(),\n  segments: input.segments.map(s => ({\n    index: s.index,\n    words: s.words.trim()\n  }))\n};\n\n// Pass-through metadata for later merge\nconst metadata = {\n  source_folder: input.source_folder || '',\n  aspect_ratio: input.aspect_ratio || '9:16',\n  segment_count: input.segments.length\n};\n\nreturn {\n  json: {\n    valid: true,\n    errors: [],\n    warnings,\n    payload: cleanPayload,\n    metadata\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        992,
        688
      ],
      "id": "d1c9c4e3-5b27-48a2-8edd-d68ddf672357",
      "name": "input_validator"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $('input_validator').item.json.errors }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        1776,
        928
      ],
      "id": "46220b80-0d05-405d-b7a4-d98431bf94a7",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "jsCode": "// n8n Code Node: Validate LLM Scene Output + Add FX/Duration\n// Place after the LLM Chain node\n\nconst raw = $input.first().json.text;\nconst errors = [];\nconst warnings = [];\n\n// ──────────────────────────────────────\n// 1. PARSE JSON\n// ──────────────────────────────────────\nlet data;\ntry {\n  data = JSON.parse(raw);\n} catch (e) {\n  // Try to extract JSON from markdown fences\n  const match = raw.match(/```(?:json)?\\s*([\\s\\S]*?)```/);\n  if (match) {\n    try {\n      data = JSON.parse(match[1].trim());\n    } catch (e2) {\n      return { json: { valid: false, errors: ['Failed to parse JSON: ' + e2.message], warnings: [] } };\n    }\n  } else {\n    return { json: { valid: false, errors: ['Failed to parse JSON: ' + e.message], warnings: [] } };\n  }\n}\n\n// ──────────────────────────────────────\n// 2. VALIDATE ANALYSIS\n// ──────────────────────────────────────\nif (!data.analysis || typeof data.analysis !== 'object') {\n  errors.push('Missing \"analysis\" object');\n} else {\n  const requiredAnalysis = ['mood', 'environment', 'color_palette', 'tone', 'visual_style'];\n  requiredAnalysis.forEach(key => {\n    if (!data.analysis[key] || typeof data.analysis[key] !== 'string') {\n      warnings.push(`analysis.${key} missing or empty — will not block`);\n    }\n  });\n}\n\n// ──────────────────────────────────────\n// 3. VALIDATE SCENES ARRAY\n// ──────────────────────────────────────\nif (!data.scenes || !Array.isArray(data.scenes)) {\n  return { json: { valid: false, errors: ['Missing \"scenes\" array'], warnings } };\n}\n\nif (data.scenes.length === 0) {\n  return { json: { valid: false, errors: ['Scenes array is empty'], warnings } };\n}\n\n// ──────────────────────────────────────\n// 4. VALIDATE EACH SCENE\n// ──────────────────────────────────────\nconst VALID_ROLES = ['hook', 'buildup', 'peak', 'transition', 'text_accent', 'cta'];\nconst VALID_TYPES = ['image', 'video', 'text'];\nconst MOTION_WORDS_BANNED = /\\b(dolly|pan|zoom|tracking|orbit|crane|tilt|drift|time-lapse|transition|morphing|sequence)\\b/i;\nconst NON_ASCII = /[^\\x00-\\x7F]/;\n\nconst seenIndexes = new Set();\nlet lastShotType = '';\n\ndata.scenes.forEach((scene, i) => {\n  const label = `Scene ${i} (index ${scene.segment_index})`;\n\n  // segment_index\n  if (scene.segment_index === undefined || typeof scene.segment_index !== 'number') {\n    errors.push(`${label}: missing or invalid segment_index`);\n  }\n  if (seenIndexes.has(scene.segment_index)) {\n    errors.push(`${label}: duplicate segment_index ${scene.segment_index}`);\n  }\n  seenIndexes.add(scene.segment_index);\n\n  // title\n  if (!scene.title || typeof scene.title !== 'string') {\n    errors.push(`${label}: missing title`);\n  } else if (scene.title.split(/\\s+/).length > 8) {\n    warnings.push(`${label}: title \"${scene.title}\" is long (${scene.title.split(/\\s+/).length} words)`);\n  }\n\n  // narrative_role\n  if (!VALID_ROLES.includes(scene.narrative_role)) {\n    errors.push(`${label}: invalid narrative_role \"${scene.narrative_role}\"`);\n  }\n\n  // type_of_scene\n  if (!VALID_TYPES.includes(scene.type_of_scene)) {\n    errors.push(`${label}: invalid type_of_scene \"${scene.type_of_scene}\"`);\n  }\n\n  // image_prompt\n  if (!scene.image_prompt || typeof scene.image_prompt !== 'string') {\n    if (scene.type_of_scene !== 'text') {\n      errors.push(`${label}: missing image_prompt for non-text scene`);\n    }\n  } else {\n    // Check for motion verbs in image_prompt\n    if (MOTION_WORDS_BANNED.test(scene.image_prompt)) {\n      warnings.push(`${label}: image_prompt may contain motion verbs`);\n    }\n\n    // Check for non-ASCII\n    if (NON_ASCII.test(scene.image_prompt)) {\n      warnings.push(`${label}: image_prompt contains non-ASCII characters`);\n      // Auto-fix: strip non-ASCII\n      scene.image_prompt = scene.image_prompt.replace(/[^\\x00-\\x7F]/g, '');\n    }\n\n    // Check prompt length\n    if (scene.image_prompt.length < 30) {\n      warnings.push(`${label}: image_prompt very short (${scene.image_prompt.length} chars)`);\n    }\n  }\n\n  // motion_in_image\n  if (scene.type_of_scene === 'text' && scene.motion_in_image !== null) {\n    warnings.push(`${label}: text scene should have motion_in_image = null`);\n    scene.motion_in_image = null; // auto-fix\n  }\n  if (scene.type_of_scene !== 'text' && !scene.motion_in_image) {\n    warnings.push(`${label}: non-text scene has no motion_in_image`);\n  }\n\n  // text_content\n  if (scene.type_of_scene === 'text') {\n    if (!scene.text_content || typeof scene.text_content !== 'string') {\n      errors.push(`${label}: text scene missing text_content`);\n    }\n  } else {\n    if (scene.text_content !== null && scene.text_content !== undefined) {\n      warnings.push(`${label}: non-text scene has text_content — setting to null`);\n      scene.text_content = null; // auto-fix\n    }\n  }\n});\n\n// ──────────────────────────────────────\n// 5. STRUCTURE CHECKS\n// ──────────────────────────────────────\n\n// First scene should be hook\nif (data.scenes[0] && data.scenes[0].narrative_role !== 'hook') {\n  warnings.push(`First scene role is \"${data.scenes[0].narrative_role}\" — expected \"hook\"`);\n}\n\n// Last scene should be cta\nconst lastScene = data.scenes[data.scenes.length - 1];\nif (lastScene && lastScene.narrative_role !== 'cta') {\n  warnings.push(`Last scene role is \"${lastScene.narrative_role}\" — expected \"cta\"`);\n}\n\n// Type mix check\nconst typeCounts = { video: 0, image: 0, text: 0 };\ndata.scenes.forEach(s => { if (typeCounts[s.type_of_scene] !== undefined) typeCounts[s.type_of_scene]++; });\nconst total = data.scenes.length;\n\nif (typeCounts.text < 2 && total >= 6) {\n  warnings.push(`Only ${typeCounts.text} text scene(s) — recommend minimum 2`);\n}\n\nconst videoPct = Math.round(typeCounts.video / total * 100);\nconst imagePct = Math.round(typeCounts.image / total * 100);\nconst textPct = Math.round(typeCounts.text / total * 100);\n\n// ──────────────────────────────────────\n// 6. ADD FX + DURATION\n// ──────────────────────────────────────\nconst FX_VIDEO = [\n  'slow_push', 'zoom_in', 'zoom_out', 'pull_back',\n  'pan_left', 'pan_right', 'tilt_up', 'tilt_down',\n  'dolly_in', 'dolly_out', 'crane_up', 'crane_down',\n  'orbit_left', 'orbit_right', 'handheld_drift', 'slow_motion'\n];\nconst FX_IMAGE = ['slow_push', 'zoom_in', 'zoom_out', 'static_hold', 'handheld_drift', 'slow_motion'];\nconst FX_TEXT = ['static_hold', 'gentle zoom_in', 'slow_push', 'zoom_out'];\n\nconst randomFrom = (arr) => arr[Math.floor(Math.random() * arr.length)];\nconst randomDuration = () => +(2 + Math.random() * 1.5).toFixed(1);\n\nlet lastFx = '';\n\ndata.scenes.forEach(scene => {\n  let pool;\n  if (scene.type_of_scene === 'text') pool = FX_TEXT;\n  else if (scene.type_of_scene === 'image') pool = FX_IMAGE;\n  else pool = FX_VIDEO;\n\n  let fx = randomFrom(pool);\n  let attempts = 0;\n  while (fx === lastFx && attempts < 5) {\n    fx = randomFrom(pool);\n    attempts++;\n  }\n  lastFx = fx;\n\n  scene.fx = fx;\n  scene.duration = randomDuration();\n});\n\n// ──────────────────────────────────────\n// 7. OUTPUT\n// ──────────────────────────────────────\nconst valid = errors.length === 0;\n\nreturn {\n  json: {\n    valid,\n    errors,\n    warnings,\n    type_mix: {\n      video: `${typeCounts.video} (${videoPct}%)`,\n      image: `${typeCounts.image} (${imagePct}%)`,\n      text: `${typeCounts.text} (${textPct}%)`\n    },\n    analysis: data.analysis || {},\n    scenes: data.scenes,\n    scene_count: data.scenes.length\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1792,
        544
      ],
      "id": "45f35b52-ed20-4a88-9025-788e1b03e39e",
      "name": "output_validator"
    }
  ],
  "pinData": {
    "output_validator": [
      {
        "json": {
          "valid": true,
          "errors": [],
          "warnings": [],
          "payload": {
            "script": "The robot had been designed to sort mail, but somewhere between firmware update seven and firmware update eight, it developed a fondness for poetry. It would pause at each envelope,\r\n\r\nscanning the handwritten addresses with what its engineers could only describe as admiration. \"Beautiful ligatures,\" it murmured one Tuesday, holding a birthday card up to the fluorescent light. The engineers exchanged nervous glances.",
            "style": "cinematic",
            "segments": [
              {
                "index": 0,
                "words": "The robot had been designed to sort mail,"
              },
              {
                "index": 2,
                "words": "but somewhere between firmware update seven and firmware update eight,"
              },
              {
                "index": 3,
                "words": "it developed a fondness for poetry."
              },
              {
                "index": 5,
                "words": "It would pause at each envelope, scanning the handwritten addresses"
              },
              {
                "index": 7,
                "words": "with what its engineers could only describe as admiration."
              },
              {
                "index": 9,
                "words": "\"Beautiful ligatures,\" it murmured one Tuesday,"
              },
              {
                "index": 10,
                "words": "holding a birthday card up to the fluorescent light."
              },
              {
                "index": 12,
                "words": "The engineers exchanged nervous glances."
              }
            ]
          },
          "metadata": {
            "source_folder": "",
            "aspect_ratio": "9:16",
            "segment_count": 8
          }
        }
      }
    ]
  },
  "connections": {
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "input_validator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "output_validator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "input_validator": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "output_validator": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "da6daa79-f47b-4cf9-8331-25b92d3f8f7f",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "b08ffe7189a3bf891067c24699a40fefd7fab74ba662332f16c66f310d400ff0"
  },
  "id": "1ga5ercqD130rcAH",
  "tags": []
}